<dl class="dropy">
	<dt class="dropy__title"><div>{{ page.title }}</div></dt>
		<dd class="dropy__content">
			<ul>
        <li><a  class="dropy__header">{{ page.title }}</a></li>
  {% for link in site.navigation %}
      {% assign default = nil %}
    {% if page.url == link.url or page.layout == link.layout %}
          {% assign default = 'none' %}
      {% endif %}
				<li>
          <a class="{{ default }}" href="{{ link.url }}">{{ link.title }}</a>
        </li>
            {% endfor %}
			</ul>
		</dd>
</dl>
