// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}


nav a {
    text-decoration: none;
}

nav li {
    line-height: 25px;
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 4px;
}

nav li.current a {
    color: #111;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
