/* Colors */
$black: #464646;
$blackAlpha: rgba(#000, 0.12);
$lightGray: #cccccc;
$gray: #868686;
$darkGray: #666666;
$red: #e75854;
$white: #fafafa;
$darkWhite: #eeeeee;

/* Variables */
$anim: 250ms ease-in-out;
$triangleSize: 0.4rem;
$triangleRatio: 1;
$borderRadius: 0.2rem;

/* Placeholder */
.topleft {
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: $mkr-dark;
  }
  li {
    float: left;
    padding: 0.5em 0.25em;
  }
}

.topright {
  float: right;
  list-style: none;
  margin: 0;
  a {
    color: $mkr-dark;
  }
  li {
    float: left;
    padding: 0.5em 0.25em;
  }
}

/* Placeholder */
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Normalize */
ul,
dl {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  padding: 0;
}
dd {
  -webkit-margin-start: 0;
}

/* Dropy style */
.dropy {
  position: relative;
  width: 100%;
  margin: 4em auto 0; // Cosmetic value
}
.dropy__title {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid $blackAlpha;
  text-decoration: none;
  font-size: 1.6rem;
  color: $black;
  cursor: pointer;
  font-weight: 400;
  color: $mkr-green;
  transition: border-color $anim;
  &:hover {
    border-color: $gray;
  }
  &:after {
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-top: $triangleSize solid $gray;
    border-left: $triangleSize*$triangleRatio solid transparent;
    border-right: $triangleSize*$triangleRatio solid transparent;
  }
}
.dropy__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  ul {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: $borderRadius;
    max-height: 0;
    opacity: 0;
    transition: opacity $anim, max-height $anim;
    list-style: none;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    li:first-child a:hover {
      border-radius: 0.2rem 0.2rem 0 0;
    }
    li:last-child a {
      margin-bottom: 1.5rem;
      &:hover {
        border-radius: 0 0 0.2rem 0.2rem;
      }
    }
  }




  li a {
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    color: $black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color $anim, color $anim;
    &:hover {
      color: $darkGray;
      background-color: $darkWhite;
    }
  }
  .dropy__header {
    border-bottom: 1px solid $blackAlpha;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
  }
  .selected {
    font-weight: 700 !important;
    color: $red;
  }
}
.dropy.open {
  .dropy__content ul {
    max-height: 30rem;
    overflow-y: scroll;
    opacity: 1;
  }
}
.dropy.dark {
  .dropy__title {
    border-color: $gray;
    color: $lightGray;
    &:hover {
      border-color: $lightGray;
    }
  }
}
